<%= render "form", mushroom: @mushroom %>

<br>

<div class="container d-flex justify-content-center text-white">
  <%= link_to "Show this mushRoom     |", @mushroom, class: "text-white text-decoration-none" %>
  <%= link_to "|     Back to mushRooms", root_path, class: "text-white text-decoration-none" %>
</div>
