<h1><%= @mushroom.name %></h1>
<% if policy(@mushroom).edit? %>
  <%= link_to "Edit this mushroom", edit_mushroom_path(@mushroom) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this mushroom", @mushroom, method: :delete if policy(@mushroom).destroy? %>
