<div class="banner" style="background-image: url('https://www.madisongaterecords.com/sites/madisongaterecords.com/files/soundtrack-banner-image/SmurfsTLV_Banner.jpg');">
  <div class="banner-content">
    <h1 class="banner-title">Le mushRooms village</h1>
    <p class="banner-text">Find your next mushroom</p>
    <%= link_to "Register to Rent", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Host your MushRoom", new_mushroom_path, class: "btn btn-secondary" %>
  </div>
</div>
