<footer>
  <div class='wrapper'>
    <div class='seperator padded'>

      <div class='col-1 first'>
        <h3>Company</h3>
        <ul class="list-layout">
          <li><a href="/about/about-us" class="link-contrast">Home</a></li>
        </ul>
      </div>
      <div class='col-1'>
        <h3>Discover</h3>
        <ul class="list-layout">
          <li><a href="/trust" class="link-contrast">Trust &amp; Safety</a></li>
          <li><a href="/invite?r=6" class="link-contrast">Travel Credit</a></li>
          <li><a href="/gift" class="link-contrast">Gift Cards</a></li>
          <li><a href="/wishlists/airbnb_picks" class="link-contrast">Airbnb Picks</a></li>
          <li><a href="/mobile" class="link-contrast">Mobile</a></li>
          <li><a href="https://www.airbnbaction.com?utm_source=airbnb&amp;utm_medium=footer&amp;utm_campaign=product" class="link-contrast" target="_blank">Airbnb Action</a></li>
          <li><a href="/business-travel?s=footer" class="link-contrast">Business Travel</a></li>
          <li><a href="/sitemaps" class="link-contrast">Site Map</a></li>
        </ul>
      </div>
      <div class='col-1'>
        <h3>Hosting</h3>
        <ul class="list-layout">
          <li><a href="/host" class="link-contrast">Why Host</a></li>
          <li><a href="/hospitality" class="link-contrast">Hospitality</a></li>
          <li><a href="/help/responsible-hosting" class="link-contrast">Responsible Hosting</a></li>
          <li><a href="/home-safety" class="link-contrast">Home Safety</a></li>
          <li><a href="/host/instant" class="link-contrast">Instant Book</a></li>
        </ul>
      </div>
    </div>
    <div class='seperator column text-center'>
      <h2 class='margin-below-1'>Join Us on</h2>
      <div class='smedialinks'>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <p class='copyright'>Airbnb footer remade by Mayank Kamboj</p>
</footer>
