<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.madisongaterecords.com/sites/madisongaterecords.com/files/soundtrack-banner-image/SmurfsTLV_Banner.jpg);">
  <div class="container">
    <h1>Le mushRoom village
  </div>
</div>
