<div class="cards" >
  <%# <% @mushrooms.each do |mushroom| %>
    <div class="card" style="width: 18rem;">
        <%# <%= cl_image_tag mushroom.photo.key, crop: :fill, height: 150, width: 200, class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">titre de notre mashroom<%#<%= link_to mushroom.name, mushroom_path(mushroom) %></h5>
          <p class="card-text">description de notre mashroom<%#<%= mushroom.description %></p>
        </div>
    </div>
  <%# <% end %­>%>
</div>
