<div class="conatiner m-3">
  <h1>Schtrumpfez votre avis sur votre mushRoom!</h1>

  <%= simple_form_for([@booking, @review]) do |f| %>
    <div class="form-inputs">
      <%= f.input :comment %>
      <%= f.input :rating, :collection => [0, 1, 2, 3, 4, 5] %>
    </div>

    <%= f.submit %>
  <% end %>
</div>
